.p1 { 
  padding: 25px;
  margin: 40px;
  width: 30em;
  border: 40px; 
  background-color: #fff9c4;
  border: solid yellow; 
  margin-top: solid red; 
}


.p2 {
  background-color: white;
  color: blue;
  padding: 30px;
  width: 18em;
  margin-left: 50px;
  border: 50px; 
  border: solid blue;
  border-width: 6px;
}

.p3 {
  background-color: white;
  color: blue;
  padding: 30px;
  width: 18em;
  margin-left: 50px;
  border: 40px; 
  border: solid greenyellow;
  border-width: 6px;
}

.p4 {
  background-color: white;
  color: blue;
  padding: 30px;
  width: 18em;
  margin-left: 50px;
  border: 40px; 
  border-top: solid blueviolet;
  border-left: solid gray;
  border-bottom: solid red;
  border-right: solid greenyellow;
  border-width: 6px;
}

.p5 {
  background-color: white;
  color: blue;
  padding: 30px;
  width: 18em;
  margin-left: 50px;
  border: yellow 40px dotted; 
  border-width: 6px;
}

section p:hover {
  background-color: grey;
} 


.p6 {
  outline-style: solid;
  outline-color: orange;
  color: orange;
  background-color: white;
  padding: 25px;
  margin-left: 40px;
  width: 16em;
  border: 20px; 
  border: solid black;
  border-width: 2px;
}

.p7 {
  outline-style: solid;
  outline-color: greenyellow;
  color: orange;
  background-color: white;
  padding: 25px;
  margin-left: 40px;
  width: 16em;
  border: 20px; 
  border: solid black;
  border-width: 2px;
}

.p8 {
  outline-style: dotted;
  outline-color: yellow;
  color: orange;
  background-color: white;
  padding: 25px;
  margin-left: 40px;
  width: 16em;
  border: 40px; 
  border: solid black;
  border-width: 2px;
}

input {
  caret-color: orange;
  color: white;
  background: black;
  font-size: 7vw;
  padding: 3vw;
}

#seccion {
  background: url(../img/flor.jpg);
}

.box2 {
  background-color: rgba(255, 166, 8, 0.5);
  opacity: 10;
  font-size: 5vw;
  padding: 10vw;
  margin: 5vw;
  border: solid;
}

.box {
  background-color: gold;
  font-size: 5vw;
  padding: 10vw;
  margin: 5vw;
  border: solid;
}