body {
	background-color: rgb( 252, 194, 97 );
}

ul {
  padding: 1;
  width: 100%;
}

li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 10.0%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(72, 195, 15);
}

li:last-child a {
  margin-right: 1;
}

a:link, a:visited, a:focus {
  background: black;
}

a:active {
  background: red;
  color: white;
}
